{% extends 'base_header.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-1">
            {% block main %}
            {% endblock main %}
        </div>
        <div class="col-lg-3">
            <h2>急上昇ワード</h2>
            <ol class="Rankstyle-svg">
                <li>微分・積分</li>
                <li>部分分数分解</li>
                <li>相加相乗平均</li>
                <li>四分位数</li>
                <li>条件付き確率</li>
            </ol>
        </div>
    </div>
{% endblock content %}