{% extends 'base.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h2>投稿一覧</h2>
            {% for board in  boards%}
            <div class="box3 mb-3">
                <div class="user">ユーザー名：{{ board.author }}</div>
                <div class="title">タイトル：{{ board.title }}</div>
                <div class="content">内容：{{ board.content }}</div>
                <div class="content">作成日時：{{ board.created_at|date:"Y-m-j H:i:s" }}</div>
                <div class="my-3">
                    <div class="content">いいね数：#</div>
                    <div class="content">コメント数：#</div>
                </div>
                <div>
                    <a rel="nofollow" data-method="post" href="#">いいねします！</a>
                </div>
                <div class="mx-5 my-3">
                    <a class="btn btn-outline-primary btn-block my-2" href="{% url 'board_detail' board.pk %}">詳細</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}