{% extends 'base.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h2>質問詳細</h2>
            <div class="box3 mb-3">
                <div class="user">ユーザー名：{{ board.author }}</div>
                <div class="title">タイトル：{{ board.title }}</div>
                <div class="content">id：{{ board.pk }}</div>
                <span class="content">本文：{{ board.content}}</span>
                <div class="mx-5 my-3">
                    <a class="btn btn-outline-primary btn-block my-1" href="{% url 'board_edit' board.pk %}">編集</a>
                    <form method="post" action="{% url 'board_delete' board.pk %}"> {% csrf_token %}
                        <button class="btn btn-outline-secondary btn-block my-3" type="submit">削除</button>
                    </form>
                </div>
            </div>

            <h2>回答</h2>
            <form class="new_comment" id="new_comment" action="#" accept-charset="UTF-8" method="post">
                <div class="mb-2">
                    <textarea class="form-control" name="content" id="comment_content" cols="10" rows="5"></textarea>
                </div>
                <input type="submit" name="commit" value="送信" class="btn btn-primary btn-block" data-disable-with="送信">
            </form>
        </div>
    </div>
</div>
{% endblock content %}

