{% extends 'base_list.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div>
    <h1>数学をはじめよう！</h1>
    <p style="color: #7f7f7f;">Free Educationは数学に特化した質問掲示板サイトです。</p>

    <form class="form-signin" method='POST' action=''> {% csrf_token %}
        <div class="form-group">
            <label for="user_email">メールアドレス</label>
            <input class="form-control" type="text" value="test@text.com" name="email" id="user_email">
        </div>

        <a href="{% url 'signup' %}" class="btn btn-primary btn-block mb-4" role="button" aria-pressed="true">無料会員登録</a>
    </form>
</div>

<div>
    <h2>今日の質問</h2>
</div>
{% endblock content %}