{% extends 'base_list.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block main %}
<div>
    <h1>数学をはじめよう！</h1>
    <p style="color: #7f7f7f;">Free Educationは数学に特化した質問掲示板サイトです。</p>

    {% if user.is_authenticated %}
    {% else %}
    <form class="form-signin" method='POST' action="{% url 'signup' %}"> {% csrf_token %}
        <div class="form-group">
            <label for="user_email">メールアドレス</label>
            <input class="form-control" type="text" name="email" id="user_email">
        </div>
        <input type='hidden' name='username' value=''>
        <div class="col-lg-8 offset-lg-2">
            <input type="submit" name="commit" class="btn btn-primary btn-block mb-4" value="無料会員登録">
        </div>
    </form>
    {% endif %}
</div>
<div>
    <h2>質問フォーム</h2>
    <p style="color: #7f7f7f;">数学・算数でわからないことは質問してみよう！！</p>
    <form class="new_board" id="new_board" method='POST' action="{% url 'board_create' %}"> {% csrf_token %}
        <div class="form-group">
            <label for="board_content">質問内容</label>
            <textarea class="form-control" name='content' rows="5" cols="60" id="board_content"></textarea>
        </div>
        <input type='hidden' name='author' value=''>
        <div class="col-lg-8 offset-lg-2">
            <input type="submit" name="commit" value="質問フォームへ" class="btn btn-primary btn-block">
        </div>
    </form>

</div>

<div>
    <h2>今日のコラム</h2>
</div>

<div>
    <h2>今日の質問</h2>
    {% for board in  boards%}
    <div class="box3 mb-3">
        <div class="user">ユーザー名：{{ board.author }}</div>
        <div class="title">タイトル：{{ board.title }}</div>
        <div class="content">内容：{{ board.content }}</div>
        <div class="content">作成日時：{{ board.created_at|date:"Y-m-j H:i:s" }}</div>
        <div class="my-3">
            <div class="content">PV数：#</div>
            <div class="content">回答数：#</div>
        </div>
        <div class="mx-5 my-3">
            <a class="btn btn-outline-primary btn-block my-2" href="{% url 'board_detail' board.pk %}">詳細</a>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock main %}