{% extends 'base_list.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block main %}
<h2>プロフィール</h2>
    <div class="box_profile">
        <div class="row">
        <div class="col-lg-6 mb-2">
            <div class="mt-2 mx-4">
            <img src='{{ MEDIA_URL }}{{ user.userimage.image }}' width=200>
            </div>
            {% if user.pk == request.user.pk %}
            <form method="GET" action="{% url 'user_edit' user.pk %}"> {% csrf_token %}
                <div class="mt-5 m">
                    <button class="btn btn-outline-secondary btn-block" type="submit">プロフィール設定</button>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h2 class="mx-2">名前</h2>
            <p class="mx-2">{{ user.username }}</p>
            <h2 class="mx-2">生年月日</h2>
            <p class="mx-2">{{ user.profile.birth_day|date:"Y-m-j" }}</p>
            <h2 class="mx-2">住居地</h2>
            <p class="mx-2">{{ user.profile.location }}</p>
            <div>
                <h2 class="mx-2 mt-2">自己紹介文</h2>
                <p class="mx-2">{{ user.profile.introduction }}</p>
            </div>
        </div>
    </div>
</div>
<div>
    <h2>質問一覧</h2>
</div>

<div>
    <h2>回答一覧</h2>
</div>


{% endblock main %}