{% extends 'base.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <h2>プロフィール</h2>
            <div class="box_profile">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <a class="btn btn-outline-secondary btn-block mx-3 mt-4" data-method="get"
                            href="#">いいね一覧</a>
                        <a class="btn btn-outline-secondary btn-block mx-3 mt-4" data-method="get"
                            href="#">フォロー一覧</a>
                        <a class="btn btn-outline-secondary btn-block mx-3 mt-4" data-method="get"
                            href="#">フォロワー一覧</a>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="mx-2">名前</h2>
                                <p class="mx-2">{{ user.username }}</p>
                            </div>
                            <div class="col-lg-6">
                                <h2 class="mx-2">email</h2>
                                <p class="mx-2">{{ user.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h2 class="mx-2">フォロー数</h2>
                                <p class="mx-2">##</p>
                            </div>
                            <div class="col-lg-6">
                                <h2 class="mx-2">フォロワー数</h2>
                                <p class="mx-2">#</p>
                            </div>
                        </div>
                        <div>
                            <h2 class="mx-2 mt-2">自己紹介文</h2>
                            <p class="mx-2">#####</p>
                            <div class="row col-10 offset-1">
                                <a class="btn btn-outline-secondary btn-block my-2" href="#">プロフィール設定</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}