{% extends 'base_list.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block main %}
<h2>ユーザー一覧</h2>
{% for user in users %}
<div class="box3 mb-3">
    <div class="content">ユーザーID：{{ user.id }}</div>
    <div class="user">ユーザー名：{{ user.username }}</div>
    <div class="content mb-3">メールアドレス：{{ user.email }}</div>
    <div class="row col-8 offset-2">
        <a class="btn btn-outline-primary btn-block my-2" href="{% url 'user_detail' user.pk %}">詳細</a>
    </div>
</div>
{% endfor %}
{% endblock main %}